<html>
    <body>
        <title>Churn Predictor</title>
        <h1>Welcome to my first home page</h1>
        <form method="post" action="/predict">
            
            Gender:<br> Male<input type= "radio" name="gender">Female<input type="radio" name="gender"><br><br>
            Partner:<input type= "text" name="Partner" placeholder="Enter your Partner"> <br><br>
            Dependents:<input type= "text" name="Dependents" placeholder="Enter your Dependents"> <br><br>
            MultipleLines:<input type= "text" name="MultipleLines" placeholder="Enter your MultipleLines"> <br><br>
            InternetService:<input type= "text" name="InternetService" placeholder="Enter your InternetService"> <br><br>
            OnlineSecurity:<input type= "text" name="OnlineSecurity" placeholder="Enter your OnlineSecurity"> <br><br>
            OnlineBackup:<input type= "text" name="OnlineBackup" placeholder="Enter your OnlineBackup"> <br><br>
            DeviceProtection:<input type= "text" name="DeviceProtection" placeholder="Enter your DeviceProtection"> <br><br>
            TechSupport:<input type= "text" name="TechSupport" placeholder="Enter your TechSupport"> <br><br>
            StreamingTV:<input type= "text" name="StreamingTV" placeholder="Enter your StreamingTV"> <br><br>
            StreamingMovies:<input type= "text" name="StreamingMovies" placeholder="Enter your StreamingMovies"> <br><br>
            Contract:<input type= "text" name="Contract" placeholder="Enter your Contract"> <br><br>
            PaperlessBilling:<input type= "text" name="PaperlessBilling" placeholder="Enter your PaperlessBilling"> <br><br>
            PaymentMethod:<input type= "text" name="PaymentMethod" placeholder="Enter your PaymentMethod"> <br><br>
            Tenure:<input type= "text" name="tenure" placeholder="Enter your tenure"> <br><br>
            <input type="submit" value="Predict">
            
        </form>
    </body>
    
</html>
